.jumbotron { 
  min-height: 100%;
  min-width: 1024;
	
  width: 100%;
  height: 100%;
	
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  margin-top: 50px;
  background-color: #f9e5ca;
}

img.image-newspaper {
  width: 100%;
  height: auto;
  z-index: 0;
}

body {
  color: black;
}

div.article-container {
  height: 450px;
  width: 900px;
  overflow-y: scroll;
  position: absolute;
  left: 5%;
  top: 78%;
  z-index: 1;
  background-color: #f9e5ca;
  color: #483628;
}

.card {
  border-color: #f9e5ca;
  background-color: #483628;
  color: #f9e5ca;
  margin-bottom: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8f8f8f;
} 

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav.navbar {
  background-color: #483628;
  color: #f9e5ca;
}

navbar-toggler-icon {
  background-color: #f9e5ca !important;
  color: #f9e5ca;
}

a:link {
  color: #f9e5ca;
}

a:visited {
  color: #f9e5ca;
}

a:hover {
  color: white;
}

a:active {
  color: #f9e5ca;
}

button.btn {
  background-color: #483628;
  color: #f9e5ca;
  margin: 1%;

}